.DS_Store
.idea
*.mwb.bak
nbproject
*.php~
.sass-cache
Thumbs.db
.project
.settings/*

app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
app/phpunit.xml

bin/jsonlint
bin/doctrine
bin/doctrine.php

build/
composer.phar
data
src/Kadrige/Bundle/ConverterBundle/Tests/Fixtures/Output/*
vendor
web/bundles/
web/css/compiled
web/js/compiled
web/content_server
